.bg-dark{
    color: black;
}

.subHeader-1{
    margin: 30px;
}
/* .subHeader-2{
    margin-top: 5%;
} */
.row-2{
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: aliceblue; */
}
.row-1{
    padding-bottom: 50px;
}